body {
    background-color: #65afda38;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#fajtai .card {
    border-radius: 0;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

#fajtai .card img {
    max-width: 150px;
}

h1 {
    letter-spacing: 15px;
    text-align: center;
    text-decoration: underline;    
    }